html, body {
    margin: 0;
}

.firstContainer {
    background-color: #E4F9F5;
    padding-top: 90px;
    position: relative;
    padding-bottom: 360px;
}

.topCloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.textTitle {
    width: 400px;
    margin: 0 auto;
    color: #66BFBF;
}

h1 {
    font-size: 80px;
}


h2 {
    font-size: 30px;
}

.bottomCloud {
    position: absolute;
    left: 260px;
    bottom: 300px;
}

.mountain {
    position: absolute;
    left: 350px;
    bottom: 10px;
}

.margin-auto {
    margin: 40px auto 40px auto;
    width: 480px;
    text-align: center;
}

.hello {
    color: #66BFBF;
    font-size: 50px;
    font-weight: normal;
}

.about {
}


.divTitle {
    width: 200px;
    margin:  200px auto 50px auto;
    color: #66BFBF;
    font-size: 45px;
}

.first-flex {
    display: flex;
    width: 700px;
    margin: 0 auto;
}

h3 {
    color: #66BFBF;
    font-size: 25px;
}

.html {
    width: 140px;
    height: 140px;
    margin: 40px 30px 0 0;
}

.angelaBiography {
}

.second-flex {
    display: flex;
    width: 700px;
    margin: 60px auto 40px auto;
}

p {
    font-size: 16px;
}

.chillies {
    width: 140px;
    height: 140px;
    padding: 20px;
    margin-top: 20px;
}

hr {
    border: 6px dotted rgb(194, 191, 191);
    border-bottom: none;
    width: 4%;
    margin: 100px auto 0px auto;
}

.third-flex {
    width: 600px;
    margin: 150px auto 100px auto;
    text-align: center;
}

.first-div {
    font-size: 40px;
    color: #66BFBF;
    margin: 50px 0px;
}

.second-div {
    font-size: 25px;
    color: #66BFBF;
    margin: 30px  0px 40px;
    font-weight: bold;
}

.third-div {
    margin-bottom: 80px;
}




.mail {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #11cdd4;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
}

.mail:hover {
    background-color: #41eff5;
}

.footer {
    background-color: #66BFBF;
    padding: 50px 0px;
}

.fourth-flex {
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerlink {
    font-size: 20px;
    text-decoration: none;
    color: #11999E;
}

.footerlink:hover {
    color: #ffffff;
}


.copy-right {
    color: #ffffff;
    font-size: 0.80rem;
    text-align: center;
}

p {
    line-height: 1.7;
    font-size: 20px;
}





